h1 {
    color: black;
    text-align: left;
    font-size: 20px;
}

h2 {
color: red;
text-align: center;
font-size: 40px;
}

table {
    color: blue;
    text-align: left;
    font-size: 15px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}