h1 {
    font-size: 80px;
    color: red;
    border-radius: 5px;
    border-color: black;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: Black;
    /*border-radius: 1px;
    border-color: black;*/
    text-align: left;
}

.forsidesaker {
    width: 60%;
    border: 3px solid red;
    padding: 2px;
    margin: 5px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.forsidesaker > div {
    width: 33%;
    border: 2px solid black;
    padding: 1px;
    margin: 3px red;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.topRowMenu {
    width: 95%;
    border: 20px solid green;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.topRowMenu > div {
    background-color: #f1f1f1;
    width: 25%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.leftMenu